<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="head">
      <div class="header">
        <p class="world">World's Largest Medical Equipment Market Place</p>
        <p>My account | Contact Us</p>
      </div>
    </div>

    <div class="about">
      <div class="about1">
        <div class="img">
          <img src="./img1.png" alt="" />
        </div>
        <div class="menu">
          <ul>
            <li>About us</li>
            <li>sell on</li>
            <li>1MDM</li>
            <li>Pricing</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="seller_banner">
      <img src="./seller-banner.png" alt="" />
      <div class="seller_banner1">
        <div class="sell1">
          <div class="sell_range">
            <h4>Sell on 1mdm.com</h4>
            <h1>Reach millions of B2B buyers globally</h1>
          </div>
          <div class="sell_button">
            <button>Start selling</button>
            <button>chat with consultant</button>
          </div>
        </div>
        <div class="sell2">
          <div class="range">
            <p>26,000,000</p>
            <p>active buyers globally</p>
          </div>
          <div class="range">
            <p>400,000</p>
            <p>product inquiries daily</p>
          </div>
          <div class="range">
            <p>200</p>
            <p>countries and regions represented</p>
          </div>
        </div>
      </div>
    </div>

    <h1 class="mdm">
      1mdm.com is a leading ecommerce platform that helps SMEs go global
    </h1>

    <div class="utube">
      <div class="utube_con">
        <div class="utube1">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/TN7iJyc5Uks?si=bOUS7nDsW5b9L4F5"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          >
          </iframe>
        </div>
        <div class="utube2">
          <p>Connect with millions of business buyers from around the world.</p>
          <p>
            Get the tools and know-how to build a successful ecommerce presence
            for your business.
          </p>
          <p>
            Pocket more from each sale, with take rates as low as 0% in some
            cases.
          </p>
        </div>
      </div>
    </div>

    <div class="red_box">
      <div>
        <h1>
          Largest number of products & categories of medical devices on a single
          place - 1mdm.com
        </h1>
      </div>
      <div>
        <p>
          Connect with buyers worldwide for your product & start selling now.
        </p>
      </div>
    </div>

    <h1 class="grow_business">
      Grow your business with a suite of tools built for you
    </h1>

    <div class="store">
      <div class="store1">
        <div class="st1">
          <div><p>Custom storefront</p></div>
          <div><p>Advertising tools</p></div>
          <div><p>Data and Analytics</p></div>
          <div><p>Customer support</p></div>
        </div>
        <div class="st2">
          <div><h1>Set up a store that showcases your brand</h1></div>
          <div>
            <p>
              Differentiate yourself from the competition with a full store
              dedicated to your products- no coding or design skills necessary!
            </p>
          </div>
        </div>
        <div class="st3">
          <img src="./img2.png" alt="" />
        </div>
      </div>
    </div>

    <div class="success">
      <h1>Success stories from 1mdm.com sellers</h1>
      <div class="success_man">
        <div class="success_con">
          Mr David runs a manufacturing company that works in this field of
          medical devices. With administrative and production across the
          country. With full respect for environment and several years’
          experience using IP systems that are conventional
        </div>
        <div class="success_img">
          <img src="./slider-1.webp" alt="" />
        </div>
      </div>
    </div>

    <div class="footer">
      <img src="./footer-banner.png" alt="" />
      <div class="footer_con">
        <p>Ready to Grow Your Business?</p>
        <button>start selling</button>
        <button>chat with consultant</button>
      </div>
    </div>

    <div class="foot_bar">
      <div class="foot1">
        <div class="foot_sec1">
          <img src="./logo-white.png" alt="" />
          <p>One Medical Devices</p>
          <p>Market Place</p>
        </div>
        <div class="foot_sec2">
          <h2>Platform</h2>
          <div class="foot_sec_con">
            <p>sell on 1MDM</p>
            <p>Pricing</p>
            <p>About us</p>
            <p>Our story</p>
            <p>Careers</p>
            <p>Brands</p>
            <p>Blog</p>
          </div>
        </div>
        <div class="foot_sec3">
          <h2>Press Room</h2>
          <div class="foot_sec_con">
            <p>Images & B-Roll</p>
            <h2>Policies</h2>
            <p>Terms of service</p>
            <p>Privacy Policy</p>
            <p>Delivery Information</p>
          </div>
        </div>
        <div class="foot_sec4">
          <h2>Reach Us</h2>
          <div class="foot_sec_con">
            <p>Corporate Information</p>
            <p>Contact Us</p>
          </div>
        </div>
      </div>
    </div>

    <div class="final_foot"><p>© 2025 1MDM ⚡ by SuperLabs</p></div>
  </body>
</html>
