.about {
  background-color: white;
  /* height: 30%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.about1 {
  width: 80%;
  height: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  /* background-color: rgb(76, 0, 255); */
  height: 100%;
  width: 40%;
}
.menu ul {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 18px;
  color: rgb(133, 132, 132);
}
@media only screen and (max-width: 480px) {
  .about {
    height: auto;
    width: auto;
    padding: 20px;
  }
  .about1 {
    height: 100%;
    width: 100%;
  }
}
