* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: vh;
  width: vw;
}
.all {
  /* background-color: aqua; */
  height: 250px;
  width: 250px;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.all button {
  height: 20%;
  width: 150px;
  background-color: #ed1c24;
  color: white;
  border-radius: 20px;
  border: 1px solid #ed1c24;
}
